.abouttxt{
    font-size: 18px;
}
.prs{
    height: 316px;
}
.prgif{
    height: 190px;
}
.prtitle{
    height: 36px;
}

.prtitle p{
    font-size: 19px;
}
.prdisc p{
    font-size: 14px;
}
.prshidonoff{
    height: 100%;
}
.prdefhead{
    height: 64px;
    font-size: 20px;
}
.prdefbody{
    height: 168px;

}
.prdeffooter{
    height: 72px;
}
.prdeffooterdiv{
    width: 49px;
    height: 49px;
}

.expercardlogo{
    width: 51px;
}
.expercardtitle{
    font-size: 19px;
}
.exeprcardrole{
    font-size: 17px;
}
.expercardbody{
    font-size: 15px;
}
.expercardfooter p{
    font-size: 14px;
}
.awardcard{
    width: 42%;
}
.awardcardhead{
    height: 84px;
}
.awardtitle{
    font-size: 20px;
}
.awardtype{
    font-size: 13px;
}
.awardcardbody{
    font-size: 15px;
}
.contactcontainer{
    align-items: center;
}
.contactsubcontainer{
    margin-left: 0;
}