.abouttxt{
    font-size: 13px;
    line-height: 28px;
}
.awardscontent,.skillcards{
    flex-direction: column;
    align-items: center;
}
.skillscontent{
    width: 70%;
}
.skillname{
    margin-left: 0px;
}
.awardcard{
    width: 83%;
    margin-right: 0;
    margin-bottom: 45px;
}
.awardtitle{
    font-size: 18px;
}
.awardtype{
    font-size: 11px;
}
.awardcardbody{
    font-size: 15px;
}
.expercardtitle{
    margin-left: 14px;
}
.expercardtitle:hover{
    text-underline-offset: 1px;
    text-decoration-thickness: 2px;
}
.contactsubcontainer{
    height: 284px;
    width: 330px;
}
.contactlogo img {
    height: 70px;
}
.contactmyname {
    font-size: 18px;
    font-family: 'Abril Fatface';
}
.contactbodydiv p {
    width: fit-content;
    font-size: 17px;
}
.sharelinkdiv {
    height: 170px;
    width: 170px;
    margin-top: 5rem;
    margin-bottom: 0rem;
    margin-right: 0px;
}
.socialapp {
    width: 60px;
    height: 60px;
    margin: 2px;
}
.socialapplogo {
    width: 80%;
    height: 80%;
}