.awardtitle{
    font-size: 22px;
}
.awardtype{
    font-size:15px ;
}
.sharelinkdiv{
    height: 200px;
    width: 200px;
    margin-top: -3rem;
    margin-bottom: 3rem;
}
.socialoptsdiv {
    width: 192px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.socialapp {
    width: 65px;
    height: 65px;
    margin: 5px;
}
.socialapplogo {
    width: 90%;
    height: 90%;
}