.panelbtndiv{
    width: 55px;
}
.leftpole{
    display: flex;
}
.lefttab{
    display:none;
}
.secheading{
    height: 70px;
    font-size: 19px;
}
.skillcards{
    flex-direction: row;
}
.skillname{
    width: calc(43%);
}
.prs{
    margin-top: 45px;
}
.expercardlogo img{
    width: 39px;
}
.expercardtitle{
    font-size: 13px;
    margin-left: 4px;
}
.expercardrole{
    font-size: 12px;
}
/* .contactcontainer{
    height:40.5rem;
} */
.contactfooter{
    font-size: 12px;
}
.sharelinkdiv {
    display: none;
}
.contactsubcontainer{
    height: fit-content;
    margin-top: 0px;
    margin-bottom: 300px;
}
.sshareoptsdiv{
    animation-name: sharedivanim;
    animation-duration: 0.3s;
}
@keyframes sharedivanim {
    0%{
        transform:rotate(270deg) ;
        transform-origin:bottom left;
        animation-timing-function: ease-in-out; 
    }
    33%{
        transform:rotate(360deg) ;
        transform-origin:bottom left;
        animation-timing-function: ease-in-out; 
    }
    66%{
        transform:rotate(340deg) ;
        transform-origin:bottom left;
        animation-timing-function: ease-in-out; 
    }
    100%{
        transform: rotate(360deg);
        animation-timing-function: ease-in-out; 
    }
}