.panelbtndiv{
    width: 55px;
}
.leftpole{
    display: flex;
}
.lefttab{
    display:none;
}
.secheading{
    height: 70px;
    font-size: 19px;
}
.skillcards{
    flex-direction: row;
}
.skillname{
    width: calc(43%);
}
.prs{
    margin-top: 45px;
}
.expercardlogo img{
    width: 39px;
}
.expercardtitle{
    font-size: 13px;
    margin-left: 4px;
}
.expercardrole{
    font-size: 12px;
}
/* .contactcontainer{
    height:40.5rem;
} */
.contactfooter{
    font-size: 12px;
}
.sharelinkdiv {
    display: none;
}
.contactsubcontainer{
    height: fit-content;
    margin-top: 0px;
    margin-bottom: 300px;
}