.righttab{
    overflow-x: hidden ;
}
.abouttxt{
    font-size: 14px;
}
.prs{
    width: 45%;
}

.experallcards{
    width: 79%;

}
.expercardtitle{
    font-size: 16px;
}

.awardcard{
    width: 40%;
}
.awardcardhead{
    padding-top: 3px;
}

.awardtitle{
    font-size: 17px;
}
.awardtype{
    font-size: 9px;
}
.awardcardbody{
    font-size: 13px;
}
